### Team Statistcs

In [18]:
import pandas as pd
import numpy as np
import datetime as dt
import os

#### Load Data

In [19]:
all_games = pd.read_parquet('../data/all_games.parquet')
all_games_comb = pd.read_parquet('../data/all_games_comb.parquet')

#### 3-Point Stats

In [20]:
# Get combined 3-point stats

all_games_comb['FG3M_T'] = all_games_comb.FG3M_H + all_games_comb.FG3M_A
all_games_comb['FG3A_T'] = all_games_comb.FG3A_H + all_games_comb.FG3A_A
all_games_comb['FG3_PCT_T'] = all_games_comb.FG3M_T / all_games_comb.FG3A_T
all_games_comb['FGA_T'] = all_games_comb.FGA_H + all_games_comb.FGA_A

In [21]:
# Avg 3PA per game per season, aggregated

all_games_comb.loc[(all_games_comb.SEASON_SHORT >= 2000) & (all_games_comb.GAME_TYPE == 'regular')] \
    [['SEASON_SHORT', 'FG3A_T', 'FG3_PCT_T', 'FGA_T']] \
    .groupby('SEASON_SHORT').mean().reset_index()

    SEASON_SHORT     FG3A_T  FG3_PCT_T       FGA_T
0           2000  27.415475   0.350361  161.197645
1           2001  29.498738   0.352459  162.542473
2           2002  29.362489   0.346366  161.571909
3           2003  29.850294   0.344766  159.631623
4           2004  31.502439   0.352361  160.671545
5           2005  31.961789   0.356060  157.979675
6           2006  33.876221   0.355169  159.421010
7           2007  36.214634   0.359342  163.008943
8           2008  36.246341   0.364618  161.832520
9           2009  36.278049   0.352096  163.405691
10          2010  36.026829   0.355800  162.430894
11          2011  36.762626   0.346086  162.853535
12          2012  39.924329   0.356107  164.043124
13          2013  43.068293   0.358722  165.993496
14          2014  44.826829   0.349365  167.130081
15          2015  48.163415   0.352577  169.145528
16          2016  54.000813   0.356843  170.824390
17          2017  57.999187   0.361116  172.119512
18          2018  64.017886   0.354879  178.421138
19          2019  68.226629   0.357758  177.635505
20          2020  69.279630   0.365814  176.836111
21          2021  70.353659   0.353287  176.196748
22          2022  68.426829   0.360322  176.600813
23          2023  70.207317   0.365407  177.806504
24          2024  75.208092   0.359217  177.527938

In [22]:
# Avg 3PA per game per season, listed by season


team_3p = all_games.loc[(all_games.SEASON_SHORT >= 2000) & (all_games.GAME_TYPE == 'regular')] \
    [['SEASON_SHORT', 'TEAM', 'FG3A']] \
    .groupby(['SEASON_SHORT', 'TEAM']).mean().reset_index()

team_3p = team_3p.pivot(index = 'TEAM', columns = 'SEASON_SHORT', values = 'FG3A').reset_index()

#team_3p.to_csv('team_3p.csv')
team_3p.head()

SEASON_SHORT,TEAM,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,ATL,11.378049,14.560976,13.914634,15.231707,11.865854,14.073171,12.658537,13.146341,19.914634,...,28.365854,26.060976,31.024390,37.000000,36.059701,33.361111,34.402439,30.548780,37.707317,36.777778
1,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.390244,31.597561,35.658537,36.158537,38.138889,36.111111,31.731707,33.792683,36.707317,39.342857
2,BOS,19.914634,23.731707,26.280488,19.500000,15.268293,15.731707,15.646341,19.073171,16.524390,...,26.121951,33.426829,30.390244,34.500000,34.541667,36.361111,37.121951,42.585366,42.463415,50.166667
3,CHA,NaN,NaN,NaN,NaN,10.743902,15.378049,15.609756,17.597561,16.329268,...,29.390244,28.621951,27.231707,33.939024,34.323077,37.027778,38.170732,32.548780,34.000000,41.764706
4,CHH,12.000000,12.121951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Top games with most 3PA

all_games_comb.loc[all_games_comb.GAME_TYPE == 'regular'][['MATCHUP', 'GAME_DATE', 'SEASON_SHORT', 'FG3A_T']].sort_values(by='FG3A_T', ascending=False).head(10)

           MATCHUP   GAME_DATE  SEASON_SHORT  FG3A_T
2051   ATL vs. MIL  2019-03-31          2018   116.0
87136  PHI vs. MIA  2021-01-12          2020   111.0
93551  MIL vs. BKN  2020-08-04          2019   108.0
2107   ATL vs. CHI  2019-03-01          2018   108.0
9807   GSW vs. BOS  2023-12-19          2023   108.0
9378   BOS vs. CHI  2024-12-19          2024   108.0
86728  ORL vs. MIA  2022-04-10          2021   108.0
68129  HOU vs. BKN  2019-01-16          2018   106.0
59658  GSW vs. MIL  2023-03-11          2022   106.0
68125  HOU vs. LAL  2019-01-19          2018   105.0

#### Team Winning

In [24]:
# Team Winning Agg Since 2014

min_season = 2000

team_wl = all_games.loc[(all_games.SEASON_SHORT >= min_season) & (all_games.GAME_TYPE == 'regular')] \
    [['TEAM', 'WL']].groupby('TEAM').value_counts().reset_index()

team_wl.columns = ['TEAM', 'WL', 'Val']

team_wl = team_wl.pivot(index = 'TEAM', columns = 'WL', values='Val').reset_index()

team_wl['W%'] = team_wl.W / (team_wl.W + team_wl.L)

team_wl.sort_values(by='W%', ascending=False).head(36)

WL TEAM     L     W        W%
30  SAS   723  1243  0.632248
7   DAL   797  1173  0.595431
2   BOS   834  1133  0.576004
24  OKC   556   755  0.575896
16  MIA   875  1090  0.554707
4   CHH    74    90  0.548780
8   DEN   890  1077  0.547534
14  LAL   903  1062  0.540458
11  HOU   906  1061  0.539400
33  UTA   915  1051  0.534588
12  IND   943  1025  0.520833
10  GSW   940  1020  0.520408
27  PHX   943  1022  0.520102
13  LAC   959  1008  0.512456
17  MIL   970   996  0.506612
28  POR   982   986  0.501016
6   CLE   993   967  0.493367
32  TOR   998   969  0.492628
15  MEM   967   920  0.487546
26  PHI  1016   950  0.483215
20  NOH   380   342  0.473684
5   CHI  1038   921  0.470138
21  NOK    87    77  0.469512
31  SEA   352   304  0.463415
1   BKN   540   459  0.459459
9   DET  1062   899  0.458440
29  SAC  1066   902  0.458333
0   ATL  1067   896  0.456444
22  NOP   499   419  0.456427
25  ORL  1072   898  0.455838
19  NJN   536   432  0.446281
18  MIN  1106   852  0.435138
23  NYK  1120   842  0.429154
35  WAS  1154   811  0.412723
3   CHA   992   639  0.391784
34  VAN    59    23  0.280488

In [25]:
# Team Winning By Season Since 2014

min_season = 2000

team_wl = all_games.loc[(all_games.SEASON_SHORT >= min_season) & (all_games.GAME_TYPE == 'regular')] \
    [['TEAM', 'WL', 'SEASON_SHORT']].groupby(['TEAM', 'SEASON_SHORT']).value_counts().reset_index()

team_wl.columns = ['TEAM', 'SEASON', 'WL', 'Val']

team_wl = team_wl.pivot(index = ['TEAM', 'SEASON'], columns = 'WL', values='Val').reset_index()

team_wl['W%'] = team_wl.W / (team_wl.W + team_wl.L)
team_wl = team_wl.drop(['W', 'L'], axis = 1)
team_wl = team_wl.pivot(index = ['TEAM'], columns = 'SEASON', values='W%').reset_index()

#team_wl.to_csv('team_wl.csv')
team_wl.head(30)

SEASON,TEAM,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,ATL,0.304878,0.402439,0.426829,0.341463,0.158537,0.317073,0.365854,0.451220,0.573171,...,0.585366,0.524390,0.292683,0.353659,0.298507,0.569444,0.524390,0.500000,0.439024,0.500000
1,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.256098,0.243902,0.341463,0.512195,0.486111,0.666667,0.536585,0.548780,0.390244,0.371429
2,BOS,0.439024,0.597561,0.536585,0.439024,0.548780,0.402439,0.292683,0.804878,0.756098,...,0.585366,0.646341,0.670732,0.597561,0.666667,0.500000,0.621951,0.695122,0.780488,0.722222
3,CHA,NaN,NaN,NaN,NaN,0.219512,0.317073,0.402439,0.390244,0.426829,...,0.585366,0.439024,0.439024,0.475610,0.353846,0.458333,0.524390,0.329268,0.256098,0.205882
4,CHH,0.560976,0.536585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CHI,0.182927,0.256098,0.365854,0.280488,0.573171,0.500000,0.592593,0.402439,0.500000,...,0.512195,0.500000,0.329268,0.268293,0.338462,0.430556,0.560976,0.487805,0.475610,0.457143
6,CLE,0.365854,0.353659,0.207317,0.426829,0.512195,0.609756,0.609756,0.548780,0.804878,...,0.695122,0.621951,0.609756,0.231707,0.292308,0.305556,0.536585,0.621951,0.585366,0.885714
7,DAL,0.646341,0.695122,0.731707,0.634146,0.707317,0.731707,0.817073,0.621951,0.609756,...,0.512195,0.402439,0.292683,0.402439,0.573333,0.583333,0.634146,0.463415,0.609756,0.571429
8,DEN,0.487805,0.329268,0.207317,0.524390,0.597561,0.536585,0.548780,0.609756,0.658537,...,0.402439,0.487805,0.560976,0.658537,0.630137,0.652778,0.585366,0.646341,0.695122,0.588235
9,DET,0.390244,0.609756,0.609756,0.658537,0.658537,0.780488,0.646341,0.719512,0.475610,...,0.536585,0.451220,0.475610,0.500000,0.303030,0.277778,0.280488,0.207317,0.170732,0.485714
10,GSW,0.207317,0.256098,0.463415,0.451220,0.414634,0.414634,0.512195,0.585366,0.353659,...,0.890244,0.817073,0.707317,0.695122,0.230769,0.541667,0.646341,0.536585,0.560976,0.514286
11,HOU,0.548780,0.341463,0.524390,0.548780,0.621951,0.414634,0.634146,0.670732,0.646341,...,0.500000,0.670732,0.792683,0.646341,0.611111,0.236111,0.243902,0.268293,0.500000,0.657143
12,IND,0.500000,0.512195,0.585366,0.743902,0.536585,0.500000,0.426829,0.439024,0.439024,...,0.548780,0.512195,0.585366,0.585366,0.616438,0.472222,0.304878,0.426829,0.573171,0.500000
13,LAC,0.378049,0.475610,0.329268,0.341463,0.451220,0.573171,0.487805,0.280488,0.231707,...,0.646341,0.621951,0.512195,0.585366,0.680556,0.652778,0.512195,0.536585,0.621951,0.571429
14,LAL,0.682927,0.707317,0.609756,0.682927,0.414634,0.548780,0.506173,0.695122,0.792683,...,0.207317,0.317073,0.426829,0.451220,0.732394,0.583333,0.402439,0.524390,0.573171,0.571429
15,MEM,NaN,0.280488,0.341463,0.609756,0.548780,0.597561,0.268293,0.268293,0.292683,...,0.512195,0.524390,0.268293,0.402439,0.465753,0.527778,0.682927,0.621951,0.329268,0.638889
16,MIA,0.609756,0.439024,0.304878,0.512195,0.719512,0.634146,0.543210,0.182927,0.524390,...,0.585366,0.500000,0.536585,0.475610,0.602740,0.555556,0.646341,0.536585,0.560976,0.515152
17,MIL,0.634146,0.500000,0.512195,0.500000,0.365854,0.487805,0.341463,0.317073,0.414634,...,0.402439,0.512195,0.536585,0.731707,0.767123,0.638889,0.621951,0.707317,0.597561,0.515152
18,MIN,0.573171,0.609756,0.621951,0.707317,0.536585,0.402439,0.390244,0.268293,0.292683,...,0.353659,0.378049,0.573171,0.439024,0.296875,0.319444,0.560976,0.512195,0.682927,0.500000
19,NJN,0.317073,0.634146,0.597561,0.573171,0.512195,0.597561,0.500000,0.414634,0.414634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NOH,NaN,NaN,0.573171,0.500000,0.219512,NaN,NaN,0.682927,0.597561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NOK,NaN,NaN,NaN,NaN,NaN,0.463415,0.475610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.365854,0.414634,0.585366,0.402439,0.416667,0.430556,0.439024,0.512195,0.597561,0.194444
23,NYK,0.585366,0.365854,0.451220,0.475610,0.402439,0.280488,0.402439,0.280488,0.390244,...,0.390244,0.378049,0.353659,0.207317,0.318182,0.569444,0.451220,0.573171,0.609756,0.666667
24,OKC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.280488,...,0.670732,0.573171,0.585366,0.597561,0.611111,0.305556,0.292683,0.487805,0.695122,0.857143
25,ORL,0.524390,0.536585,0.512195,0.256098,0.439024,0.439024,0.487805,0.634146,0.719512,...,0.426829,0.353659,0.304878,0.512195,0.452055,0.291667,0.268293,0.414634,0.573171,0.567568
26,PHI,0.682927,0.524390,0.585366,0.402439,0.524390,0.463415,0.426829,0.487805,0.500000,...,0.121951,0.341463,0.634146,0.621951,0.589041,0.680556,0.621951,0.658537,0.573171,0.424242
27,PHX,0.621951,0.439024,0.536585,0.353659,0.756098,0.658537,0.753086,0.670732,0.560976,...,0.280488,0.292683,0.256098,0.231707,0.465753,0.708333,0.780488,0.548780,0.597561,0.454545
28,POR,0.609756,0.597561,0.609756,0.500000,0.329268,0.256098,0.390244,0.500000,0.658537,...,0.536585,0.500000,0.597561,0.646341,0.472973,0.583333,0.329268,0.402439,0.256098,0.352941
29,SAC,0.670732,0.743902,0.719512,0.670732,0.609756,0.536585,0.402439,0.463415,0.207317,...,0.402439,0.390244,0.329268,0.475610,0.430556,0.430556,0.365854,0.585366,0.560976,0.472222